<template name="postPartial">
  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image">
        <img src="{{this.image}}">
      </div>
      <div class="card-content">
        <p>Posted by {{this.user.email}} {{moCalendar this.createdAt}}</p>
      </div>
      <div class="card-action">
        {{#if isAdminOrCreator this}}
          <div class="btn red delete-post" data-id="{{this._id}}"><i class="material-icons">delete</i></div>
        {{/if}}
        {{#if currentUser}}
          <div class="btn like-post" data-id="{{this._id}}"><i class="material-icons">thumb_up</i></div>
        {{/if}}
        <p>{{this.likes}} Likes</p>
      </div>
    </div>
  </div>
</template>
